body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.conversation-container {

    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75px;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

input[type="text"] {
    width: 100%;
    height: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

button[type="submit"]:active, button[type="submit"]:focus {
    outline: none;
}
button[type="submit"] {
    outline: none;
    border: 0;
    width: 50px;
}

button[type="submit"]:hover {
    /*background-color: #3e8e41;*/
}

.output {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

.error {
    color: red;
    font-weight: bold;
}

.vertical-side-list {
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: -20px; /* Adjust the x-position to match the original list */
    padding: 10px;
    background-color: #f0f0f0;
    overflow-y: auto; /* Add vertical scrollbar */
}

.vertical-side-list li {
    border: 1px solid #ccc;
    padding: 6px;
    margin-bottom: 5px;
    cursor: pointer;
}

.selected-item {
    background-color: #3e8e41;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    width: 30px;
    margin-right: 20px;
    border-radius: 50%;
}


.container p {
    margin-right: 50px
}
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.hidden{
    display: none;
}
.chat-bubble {
    background-color:#dddddd;
    padding:16px 28px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    display:inline-block;
}
.typing {
    align-items: center;
    display: flex;
    height: 17px;
}
.typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #1f1f1f; //rgba(20,105,69,.7);
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}
.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}
.typing .dot:last-child {
    margin-right: 0;
}

.input-wrapper {
    min-width: 280px;
    display: flex;
    border: 1px solid #ccc;
    justify-content: space-between;
    width: 60vh;
    height: 40px;
    border-radius: 7px;
    overflow: hidden;
}
.input-wrapper input:focus, .input-wrapper input:active {
    outline: none;
}
.input-wrapper input {
    padding-right: 40px;
    border: none;
}
.input-wrapper button{
    background: url('/images/send.png') #fff no-repeat;
    background-size: 30px 30px;
    background-position: 10px;
    cursor: pointer;
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #565656; // rgba(20,105,69,.7);
    }
    28% {
        transform: translateY(-7px);
        background-color: #3f3f3f; //rgba(20,105,69,.4);
    }
    44% {
        transform: translateY(0px);
        background-color: #2c2c2c; //rgba(20,105,69,.2);
    }
}
.hidden{
    display: none;
}
.output{
    overflow: auto;
    height: 65vh;
}
form{
    height: 10vh;
}