<!DOCTYPE html>
<html>
<head>
    <title>Test LLama3.2 local</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body >
<table  style="width: 100%;">
    <tr >
        <td style="width: 25%;vertical-align: top;">
            <div style="height: 60vh">
                <ul class="vertical-side-list" id="side-list" >
                    <li value="100/11111">100/11111 -> (Un)making AI Magic: A Design Taxonomy</li>
                    <li value="100/22222">100/22222 -> Supporting Designers</li>
                    <li value="100/33333">100/33333 -> Older Adults Imagining Future Technologies</li>
                    <li value="100/44444">100/44444 -> open access publishing</li>
                </ul>
            </div>
        </td>
        <td style="width: 75%;height: 60vh">
            <div class="conversation-container" style="height: 80vh;padding-bottom: 50px;">
                <div class="title">Test LLama3.2 local</div>
                <form id="myForm">
                    <label for="input">Enter Question:</label>
                    <div class="input-wrapper">
                        <input type="text" id="input" name="msg">
                        <button type="submit"> </button>
                    </div>
                    <input type="text" id="doi" name="doi" hidden="hidden">
                </form>

                <div class="output" id="output">
                    <div id="messages">
                        <div class="container darker">
                            <img src="/images/robot.png" class="right">
                            <p>Hello. This is the Article assistance, what can I help you with</p>
                            <span class="time-right">11:00</span>
                        </div>
                    </div>

                    <div id="chat_typing" class="chat-bubble hidden">
                        <div class="typing">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>

                </div>
                <div id="error"></div>
            </div>
        </td>
    </tr>
</table>
<div id="container-template" hidden="hidden">
    <div class="container">
        <img src="/images/user.png" width="100px">
        <p class="container-text"></p>
        <span class="time"></span>
    </div>
</div>
<script src="/scripts/main.js"></script>
</body>
</html>